@model Carpool.Models.WeeklyLift

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<h2>Details</h2>

<div>
    <h4>WeeklyLift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuesday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuesday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wednesday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wednesday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thursday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thursday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Friday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Friday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saturday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saturday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sunday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sunday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutboundStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutboundStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutboundEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutboundEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InboundStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InboundStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InboundEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InboundEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmailAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
